In [1]:
#Q1. How do you comment code in Python? What are the different types of comments?

In [2]:
#Ans
# There are two types of comment
# 1.single line comment
# 2.multi-line comment
# 1.single line comment:-
#                       which is perfered by using '#' in the starting of the comment.
# example
#       '#my name is vipin patil.'
# 2.multi-line comment:-
#                       which is perfered by using triple courts("""   """").
# example
#        """" I am vipin patil
#             from pune,maharashtra"""

In [3]:
# what are the varible in python?How do you declare and assign  value to varibles?

In [12]:
#Ans
""" A python variable is stored and manipulate the data in memory location,
 every value python has datatypes,there are differnt datatype ,like 'string','integere','float','list','tuple','dictonary',etc."""
 #example-
name="vipin"
age = 21
s=[1,2,3,"pwskills",3j+2]                                  
""" we have made  three value name,age and s.we have assign value 'vipin',19,[1,2,3,"pwskills",3j+23] respectiviley.
 you can used print command and assign value
 example-
 """
print(name)
print(age)
print(s)

vipin
21
[1, 2, 3, 'pwskills', (2+3j)]

In [1]:
# Q3.How do you convert one data type to another in python?

In [2]:
"""Ans
1.int()- this function is convert to integer datatype.
example-"""
str_number="200"
number=int(str_number)
print(number)
print(type(number))
#converted into string number to integer number
# 2.float()- this function is convert to float datatype.
# example
integer=20
float_number=float(integer)
print(float_number)
print(type(float_number))
#converted into integer number to float  value.
#same way we can do type conversion with list-list(),tuple-tuple(),set-set(),dict-dict(),etc

200
<class 'int'>
20.0
<class 'float'>

In [3]:
#Q4. How do you write and execute a Python script from the command line?

In [5]:
# ANSWER - To write and execute a Python script from the command line we need to follow some steps -
 #1. first we need to open our code editor like Pycham, VScode, jupyter notebook ore any other editor.
 #2. Write the python code in the editor and save the file with 'name.py' NOTE - we have to use '.py' in the last of the name by which you are saving
 #3. once the file is saved to the system open the commands prompt or terminal in your operating system.
 #4. Once the command prompt opens navigate to the directory where you have saved your python file using 'cd' command
   # example -  dc documents
 #5. Once you are in the correct directory, execute your python programe using your file name.
 #   example - name.py
   
 #NOTE- AFTER DOING THIS YOUR PROGRAM WILL RUN

 #THIS WAS THE STEPS BY WHICH YOU CAN WRITE AND EXECUTE PYTHON SCRIPT FROM THE COMMAND LINE

In [6]:
# Q5. Given list my_list=[1,2,3,4,5],write the code  to slice the list and obtain the sub_list[2,3].

In [8]:
my_list=[1,2,3,4]
sub_list=my_list[1:3]
print(sub_list)

[2, 3]

In [1]:
# Q6.What is a complex number in mathematics,and how is it reprsent  in python?

In [3]:
"""Ans 
 In mathematics,The complex number are expressed in the from of the a+bi where a,b are real number and 'i' is imaginary number
 for example 2+3i,2 is real number and 3i are imaginary number.
 In python, complex numbers are supported as a built-in data type. we can represent complex number
 s=3+5j
"""
s=3+5j
print(s)
print(type(s))

(3+5j)
<class 'complex'>

In [4]:
# Q7.What is the correct way to declare  a variable named age and assign the value 25 to it?

In [6]:
# Ans
age=25
print(age)

25

In [7]:
# Q8.Declare a variable named price and assign the value 9.99 to it . What data type does the variable belong to?

In [8]:
# Ans
price=9.99
print(type(price))

<class 'float'>

In [9]:
# Q9.Create  a variable named name and assign your full name to it as a string .how would  you print  the value  of thois variable?

In [11]:
#Ans
name="Vipin Patil"
print(name)
# using print() function

Vipin Patil

In [12]:
# Q10.Given the string "hellow ,world" , extract the sub_string="world"?

In [23]:
# Ans
string="Hellow , world"
sub_string=string[8:14]
print(sub_string)

 world

In [25]:
# Q11.Create a variable named "is_student and assign it a boolean  value indicating whether you are currently  a student are not.

In [27]:
# Ans
is_student=True
print(type(is_student))

<class 'bool'>